{% extends 'main.html' %}
{% load static %}
{% block content %}
<div id="layoutSidenav">
    {% include 'side_navbar.html' %}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Food Analysis</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
                <div class="row">
                    <div class="col-xl-4">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-pie me-1"></i>
                                Average Nutritional Values
                            </div>
                            <div class="card-body"><canvas id="myPieChart" width="100%" height="50%"></canvas></div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-bar me-1"></i>
                                Random Recipes Based On Your Food
                            </div>
                            <div class="card-body"><img src="{% static 'images/carbonara-recipe.jpg' %}" width="100%" height="100%"></div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-bar me-1"></i>
                                Food Expiration Alert
                            </div>
                            <div class="card-body">
                                <p>Expired: 2</p>
                                <p>Expiration in the next 7 days: 7</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Food Inventory
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Food Group</th>
                                    <th>Calories</th>
                                    <th>Protein</th>
                                    <th>Carbohydrates</th>
                                    <th>Fat</th>
                                    <th>Expiration Date</th>
                                    <th>Requires Refrigeration</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Name</th>
                                    <th>Food Group</th>
                                    <th>Calories [100g]</th>
                                    <th>Protein [100g]</th>
                                    <th>Carbohydrates [100g]</th>
                                    <th>Fat [100g]</th>
                                    <th>Expiration Date</th>
                                    <th>Requires Refrigeration</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for f in food %}
                                    <tr>
                                        <td>{{f.name}}</td>
                                        <td>{{f.group}}</td>
                                        <td>110</td>
                                        <td>61</td>
                                        <td>61</td>
                                        <td>61</td>
                                        <td>{{f.expiration_date|date:"Y-m-d"}}</td>
                                        {% if f.needs_cooling == True %}
                                            <td>Yes</td>
                                        {% else %}
                                            <td>No</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-primary text-white mb-4">
                            <div class="card-body">Add Item</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="#">View Details</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-warning text-white mb-4">
                            <div class="card-body">Edit Item</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="#">View Details</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-xl-3 col-md-6">
                        <div class="card bg-success text-white mb-4">
                            <div class="card-body">Success Card</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="#">View Details</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div> -->
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-danger text-white mb-4">
                            <div class="card-body">Delete Item</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="#">View Details</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        {% include 'footer.html' %}
    </div>
</div>
{% endblock %}
